<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado libre - logueo</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<form>
<div>   
<label for="nombre usuario">usuario</label>
<input type="text" name="nombre usuario" id="nombre usuario" required>
<label for="contraseña">contraseña</label>
<input type="password" name="password" required>
</div>

<fieldset>
    
    <button type="submit" class="submit">enviar</button>
    <button type="reset">reset</button>

</fieldset>

</form>
</body>
</html>